@charset "UTF-8";
/*************************************

    [TABLE OF CONTENTS]

    General settings:
      ¬ General
      ¬ Typography
      ¬ Custom grid

    Layouts
      ¬ Header
      ¬ Page Home content
      ¬ Page Letter content
      ¬ Footer

    Components:
      ¬ Icons Sprite
      ¬ Media Queries

    Universal styles
                                   */

/*                                   /
            General
*************************************/
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4;
}

body {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400;
  color: #422b12;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
}

::-moz-selection {
  background: #77674e;
  text-shadow: none;
}

::selection {
  background: #77674e;
  text-shadow: none;
}

.form-control::-moz-placeholder {
  text-transform: none;
  color: #77674e;
}

.form-control:-ms-input-placeholder {
  text-transform: none;
  color: #77674e;
}

.form-control::-webkit-input-placeholder {
  text-transform: none;
  color: #77674e;
}

.form-control {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  color: #422b12;
}

.form-control:focus,
.form-control:active {
  outline: none;
  box-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video,
[class^=icon-] {
  vertical-align: middle;
}

img, svg, [class^='icon-'] {
  display: inline-block;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
  outline: none;
}

figure {
  margin: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #dde4ea;
}

.btn {
  font-size: 1.8rem;
  transition: all .14s;
}

.btn:hover,
.btn:active:focus,
.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #f8f8f8;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/*                                   /
            Typography
*************************************/

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.1; /* 45px */
  color: #593d1e;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin: 0 0 1.56em;
  line-height: 1.88; /* 30px */
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*                                   /

           Custom grid

*************************************/
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-wrapper {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("images/bg-spray.png") no-repeat 50%/cover,
              url("images/bg-body.jpg") no-repeat 50%/cover;
  background-color: #fff;
}

.page-header,
.page-main,
.page-footer {
  width: 100%;
}

/*************************************

    Page header:

    ¬ countdown row
    ¬ countdown column
    ¬ countdown span count
    ¬ countdown span text

*************************************/
.page-header {
  border: none;
  margin: 0;
  color: #ffffff;
}

/**        ¬ countdown row         **/
.countdown-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

/**        ¬ countdown column         **/
.countdown-section {
  position: relative;
  display: block;
  -webkit-flex-basis: 102px;
      -ms-flex-preferred-size: 102px;
          flex-basis: 102px;
  min-height: 125px;
  padding: 24px 0 30px;
  margin-top: 1px;
  text-align: center;
}

.countdown-section:nth-of-type(1) {
  background: url("images/flag.png") no-repeat 50% 0/102px 116px;
}

.countdown-section:nth-of-type(n+3):after {
  content: '';
  position: absolute;
  top: 29px;
  left: 0;
  background-color: #ffffff;
  width: 1px;
  height: 23px;
}

.countdown-section > * {
  line-height: 1;
}

/**        ¬ countdown span count         **/
.countdown-amount {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 13px;
}

/**        ¬ countdown span text         **/
.countdown-period {
  display: block;
}

/*                                   /
    Page home content:
    ¬ main-content - wrapper
    ¬ logo
    ¬ brand-title
    ¬ Slogan
    ¬ hero title
                                **/

.page-home .page-main {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: url("images/main-spray.png") no-repeat 50%,
              url("images/home-main.png") no-repeat 50% / 105% 105%;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5),
              3px 3px 7px rgba(0, 0, 0, 0.1);
}

.page-home .page-main__inner {
  max-width: 390px;
  text-align: center;
  margin: 0 auto;
}

.page-home .brand-header {
  position: relative;
  padding: 1px 0;
  margin-bottom: 3.2rem;
  color: #593d1e;
}

.page-home .brand-header__title {
  position: relative;
  padding: 0 25px;
  margin: 14px 0 7px;
}

.page-home .brand-header span {
  color: #dd4f29;
}

.page-home .brand-header:before {
  position: absolute;
  content: ' ';
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-home .brand-header,
.page-home .brand-header:before {
  box-shadow: 0 1px #a6977b, 0 2px #593d1e,
              0 -1px #593d1e, 0 -2px #a6977b;
}

.page-home .brand-header__title:before,
.page-home .brand-header__title:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #593d1e;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
}

.page-home .brand-header__title:after {
  left: auto;
  right: 0;
  margin-right: 0;
  margin-left: 15px;
}

.page-home .logo {
  position: relative;
  max-width: 205px;
  padding: 0 25px;
  margin: 0 auto 2.5rem;
}

.page-home .logo:before,
.page-home .logo:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  width: 43px;
  background: url("images/line.png") no-repeat 50%/cover;
}

.page-home .logo:before {
  left: 0;
}

.page-home .logo:after {
  right: 0;
}

/**
    ¬ subscribe-form
    ¬ form-group
    ¬ input-wrap
    ¬ form-control
    ¬ btn
                                **/
.subscribe-form .form-group {
  position: relative;
  padding-right: 28px;
  margin: 0 auto;
}

.subscribe-form .input-wrap {
  position: relative;
  background: url("images/input-bg.png") no-repeat 0 0 / 100% 40px;
}

.subscribe-form .input-wrap .form-control {
  position: relative;
  height: 40px;
}

.subscribe-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  background-color: #e75933;
}

.icon-arrow-right {
  display: block;
  width: 100%;
  height: 100%;
  background: url("images/btn-arrow.png") no-repeat 50% / 15px 17px;
}

/*************************************

    Page Letter Content:
    ¬ contacts list
    ¬ feedback form

*************************************/
.page-letter .page-main {
  padding: 0 15px;
}

/**        ¬ custom grid         **/
.main-visit.container {
  position: relative;
  max-width: 960px;
  padding: 6rem 6%;
  background: url("images/letter-main-spray.png") no-repeat 50%,
              url("images/letter-main.png") no-repeat 50% / 100% 100%;
}

.main-visit.container .row {
  position: relative;
  z-index: 1;
}

/**
    ¬ main visit
    ¬ contacts list
    ¬ brand
    ¬ company name
    ¬ your slogan
                                **/
.main-visit__title {
  margin-top: 0;
  font-size: 4rem;
}


/* contacts list */
.main-visit__contacts {
  width: 100%;
  margin-bottom: 5rem;
  color: #422b12;
  overflow: hidden;
}

.main-visit__contacts li {
  line-height: 1.88em;
  border-bottom: 1px solid #77674e;
  white-space: nowrap;
}

.main-visit__contacts li > * {
  display: inline-block;
  line-height: 1.1;
  vertical-align: bottom;
}

.main-visit__contacts li [class^=icon] {
  margin-bottom: 2px;
  margin-right: 10px;
}

/* brand */
.main-visit__brand {
  float: right;
  max-width: 186px;
  min-height: 147px;
  padding: 30px 4px 20px;
  margin-bottom: 3rem;
  border: 1px solid transparent;
  text-align: center;
  background: url("images/pattern-make.png") no-repeat 50%/cover;
}

/* company name */
.main-visit__brand .company-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  color: #dd4f29;
}

/* your slogan */
.main-visit__brand .your-slogan {
  line-height: 2.6rem;
  margin-bottom: 0;
  color: #593d1e;
}

/**
    ¬ feedback form
    ¬ input
    ¬ form-group
    ¬ form-control
    ¬ textarea - wrapper input textarea
    ¬ form-control
    ¬ btn
                                **/
.feedback-form__row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.feedback-form__row > [class^=col] {
  padding: 0 30px;
  float: none;
}

.feedback-form__row .order-1 {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-flex-order: 2;
  order: 2;
}

.feedback-form__input {
  margin-bottom: 10px;
  border-bottom: 1px solid #77674e;
}

.feedback-form .form-group {
  margin-bottom: 3rem;
}

.feedback-form .form-control {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
  padding: 0;
  height: auto;
}

.feedback-form .textarea-contain {
  height: 173px;
  margin-bottom: 0;
}

.feedback-form__textarea {
  position: relative;
  height: 100%;
  background: url("images/textarea-bg.png") no-repeat 0 / 100% 100%;
}

/* custom textarea */
.feedback-form__textarea .form-control {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: 98%;
  height: calc(100% - 30px);
  padding-left: 17px;
}

.feedback-form__btn {
  float: right;
  padding: 6px 32px;
  margin-top: 2rem;
  border-radius: 9px;
  background-color: #e75933;
  color: #fff;
}

/*************************************

    Page footer:
      ¬ social-list

*************************************/
.page-footer {
  margin: 4vw 0;
}

/**        ¬ social list         **/
.social-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list > li {
  -webkit-flex-basis: 58px;
      -ms-flex-preferred-size: 58px;
          flex-basis: 58px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list > li a {
  display: block;
  -webkit-flex-basis: 41px;
      -ms-flex-preferred-size: 41px;
          flex-basis: 41px;
  transition: all .14s;
}

.social-list > li a:hover,
.social-list > li a:focus {
  opacity: 0.65;
}

/*************************************
    Icons Sprite

      ¬ Social icons
      ¬ icons
                                   */
.icon-facebook {
  background-image: url("images/sprite.png");
  background-position: 0px -36px;
  width: 39px;
  height: 38px;
}
.icon-marker {
  background-image: url("images/sprite.png");
  background-position: 0px 0px;
  width: 10px;
  height: 13px;
}
.icon-phone {
  background-image: url("images/sprite.png");
  background-position: 0px -18px;
  width: 7px;
  height: 13px;
}
.icon-twitter {
  background-image: url("images/sprite.png");
  background-position: 0px -79px;
  width: 38px;
  height: 38px;
}
.icon-vk {
  background-image: url("images/sprite.png");
  background-position: 0px -122px;
  width: 39px;
  height: 38px;
}
.icon-youtube {
  background-image: url("images/sprite.png");
  background-position: 0px -165px;
  width: 38px;
  height: 38px;
}

/*************************************
            Media Queries
                                   */

/**        = width screen < 991px         **/
@media (max-width: 991px) {
  .feedback-form__row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }

  .feedback-form__row > [class^=col] {
    padding: 0 15px;
  }
}

/**        = width screen < 767px         **/
@media (max-width: 767px) {
  .main-visit__inner {
    max-width: 420px;
    margin: 0 auto;
  }

  .main-visit__contacts {
    margin-bottom: 3rem;
  }

  .main-visit__brand {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .main-visit__title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .feedback-form__row .order-1 {
    -ms-flex-order: -1;
    order: -1;
  }
}

/**        = width screen < 480px         **/
@media (max-width: 479px) {
  html {
    font-size: 9px;
  }

  .page-letter .page-main {
    padding: 0;

  }

  .main-visit.container {
    background: url("images/letter-main-spray.png") no-repeat 50%,
                url("images/letter-main.png") no-repeat 50% / 105% 100%;
  }
}


.demo-menu {
  position: absolute;
  top: 50%;
  left: 55px;
  margin-top: 26px;
  transform: translate(-100%, -50%);
  transition: all .14s ease;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.demo-menu a {
  position: relative;
  left: -55px;
  padding: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #e75933;
}

.demo-menu.active {
  left: 0;
  transform: translate(0, -50%);
}

.demo-menu.active a {
  left: 0;
}

.demo-menu .fa {
  position: relative;
  font-size: 30px;
  top: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: rgba(2,2,2, .6);
  color: #fff;
  transition: .4s ease;
}

.demo-menu .fa:after {
  content: '';
  position: absolute;
  top: 0;
  left: -400%;
  width: 400%;
  height: 100%;
  background: rgba(2,2,2, .6);
  z-index: -1;
}